@charset "utf-8";
.container {
    width: auto;
    background-color: #FFDBFD;
    background-repeat: no-repeat;
    background-image: url(nyc2.jpg);
    background-position: 50000% 0%;
    text-align: left;
}
main article h3 {
    text-decoration: none;
    text-indent: 20px;
    font-variant: small-caps;
}


header h1 {
    text-align: center;
    color: #9F2242;
    background-color: #77EEDA;
    background-size: 0px auto;
    -webkit-box-shadow: 5px -4px;
    box-shadow: 5px -4px;
}
header nav {
    text-align: center;
}
nav a:link  {
    color: #981D1F;
}
nav a:hover {
    color: #7CECCE;
}
.pics {
    height: 70px;
    color: #F0B0B1;
    background-color: #EEBABB;
    background-image: url(pics.jpg);
    background-repeat: repeat-x;
    background-position: 40% 0%;
    background-size: 127px auto;
}

main article h2 {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-box-shadow: 4px 4px #9C9C9C;
    box-shadow: 4px 4px #9C9C9C;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}
main article h4 {
    height: 0px;
    font-size: large;
}


nav a:visited {
}
.Newyork {
    color: #FFFFFF;
    background-color: #F2E436;
    text-shadow: 3px 1px #EB3E1A;
    width: 200px;
}
footer {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    text-decoration: overline;
    color: #000000;
    text-shadow: 1px 1px 5px #77EEDA;
}
main article h5 {
    width: 265px;
    height: auto;
}
.yt {
    text-decoration: underline;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
